.change-postion {
  display: flex;
  flex-direction: column;
  margin-left: 85px;
}
fieldset {
  border: 10px solid transparent;
  border-top-color: black;
  box-sizing: border-box;
  grid-area: 1 / 1;
  padding: 20px;
  width: 160%;
  position: absolute;
  align-items: center;
}
.image-profile {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #30e289,
    0 0 0.8rem #0bb945, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  border-radius: 50%;
  border: 3px solid rgb(20, 143, 86);
  height: 140px;
  width: 140px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.neon-text {
  color: #fff;
  border-radius: 2rem;
  font-size: 100px;
  padding: 10px;
  text-align: center;
  font-family: "Vibur", sans-serif;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

/* Flickering animation */
@keyframes colorch {
  0%,
  18%,
  22%,
  100% {
    border: 3px solid #0fa;
    box-shadow: 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa;
  }
  20%,
  24%,
  55% {
    border: 5px solid rgba(223, 32, 26, 0.575);
    text-shadow: none;
    box-shadow: none;
  }
}
#join {
  width: 60%;
}
#name {
  width: 60%;
}

legend {
  font: 15pt/0 "Averia Serif Libre";
  margin: auto;
  padding: 0 4px;
}
fieldset:nth-of-type(2) {
  transform: rotate(90deg);
}
fieldset:nth-of-type(3) {
  transform: rotate(180deg);
}
fieldset:nth-of-type(4) {
  transform: rotate(-90deg);
}
body {
  user-select: none;
  -webkit-user-select: none;
}
body {
  display: grid;
  margin: auto;
  margin-top: calc(50vh - 170px);
  width: 300px;
  height: 300px;
}
